body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/Clouds_7/1.png');
    background-size: cover;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
}

.central-object{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: -50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

img:hover{
    opacity: 1;
    transform: scale(3);
}

.surrounding-object {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
